*{
	outline:none;
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
}

body,html {
	background:lightgrey;
	height:100%;
	font-family: "Courier New", Courier, monospace;
}
#top-bar{
	height: 15%;
	width:100%;
	position: relative;
}
.clock {
	color:grey;
	font-size: 3.5em;
	position: absolute;
	left:30%;
	
}
#main-clock {
	text-align: center;
}
.dropdown {
	position:absolute;
	right: 15%;
	top: 10px;
}
#view-changer{
	border:none;
	background-color: grey;
	color: orange;
	font-size: large;
}

.calendar-days{
	height:10%;
	margin: 0 15%;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-bottom: 10px;
}
#calendar-root{
	height:60%;
}
.day-name {
	height:100%;
	width:14%;
	color:orange;
	background-color: grey;
	text-align:center;
	font-size: 30px;
	font-weight:bold;
}
.calendar{
	height:16%;
	margin: 0 15%;
	display: flex;
	justify-content: space-between;
	padding-bottom:3px;
}
.date{
	width:14%;
	height:100%;
}
.date > button {
	border:0;
	width:100%;
	height:100%;
	background-color: darkgrey;
	box-shadow: 0;
	color:white;
	font-size:2em;
	font-weight:bold;
}
.date > button:hover{
	border: 2px;
	border-style: solid;
	border-color: orange;
}
#pop-out-wrapper{
	position:relative;
	top:0;
}
#footer{
	height:15%;
	display:flex;
	justify-content: center;
	margin:0;
	padding:0;

}

.footer-button {
	width:10%;
	height:40%;
	font-size: 2em;
	font-weight:bold;
}
#month-year {
	text-align: center;
	font-size: 4em;
	width:50%;
	height:100%;
}
.modal{

	z-index: 1;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.6);
	display:none;
	justify-content: center;
}
.modal-content{
	width:40%;
	height:60%;
	background-color: red;
	align-self: center;
	display:flex;
	flex-direction: column;
}
.close-btn{
	font-size: 30px;
	color:white;
	padding: 0px 5px;
	background-color: orange;
	align-self: flex-end;
}
.close-btn:hover, .close-btn:focus{
	color:orange;
	background-color: white;
	cursor: pointer;
}