*{
	margin:0;
	padding:0;
	font-family: "Courier New", Courier, monospace;
}

body,html {
	background:lightgrey;
	height:100%;
}

.clock {
	color:grey;
	font-size: 3.5em;
	height:15%;
}
#main-clock {
	height:100%;
	text-align: center;
}
.calendar-days{
	height:10%;
	margin: 0 15%;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-bottom: 10px;
}
#calendar-root{
	height:60%;
}
.day-name {
	height:100%;
	width:14%;
	color:orange;
	background-color: grey;
	text-align:center;
	font-size: 30px;
	font-weight:bold;
}
.calendar{
	height:16%;
	margin: 0 15%;
	display: flex;
	justify-content: space-between;
	padding-bottom:3px;
}

.date {
	margin:0;
	border:0;
	width:14%;
	background-color: darkgrey;
	box-shadow: 0;
	color:white;
	font-size:2em;
	font-weight:bold;
}

#footer{
	height:15%;
	display:flex;
	justify-content: center;

}

.footer-button {
	width:10%;
	height:40%;
	font-size: 2em;
	font-weight:bold;
}
#month-year {
	text-align: center;
	font-size: 4em;
	width:50%;
	height:100%;

}